extends ../layout/layout.pug

block content
    main.main
        .wrapper
            h1 CLEAN WEBPACK
            a.button Button
            input.input
        //- #product-slider

        //- include ../modules/our-pharmacies.pug

